---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/get_profile
    body:
      encoding: UTF-8
      string: '{"username":"botanicus"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"name":"James C Russell","username":"botanicus","url":"","company":"","location":"","profile_image":"//www.gravatar.com/avatar/74c419a50563fa9e5044820c2697ffd6.jpg?s=400&d=mm"}}'
  recorded_at: Mon, 01 Dec 2014 11:29:14 GMT
recorded_with: VCR 2.9.3
