---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/get_terminal
    body:
      encoding: UTF-8
      string: '{"container_key":"b878c064-fc2b-4f14-81fa-ca10ac9385ff","user_token":"73449ae08fce0d0cdf1d4dc6134b3c049538254a4cc7bc69e9e6a6c84c3823e4","access_token":"sz2AXTf2izcStaiBwP6JLz8v4VIH5NEH"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"terminal":{"cpu":"2 (max)","ram":"256","diskspace":"10","name":"Coding
        Interview: John Doe Jr","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","temporary":"false","custom_data":"","status":"suspended","allow_spot":"false","container_key":"b878c064-fc2b-4f14-81fa-ca10ac9385ff","subdomain":"botanicus117","container_ip":"240.1.9.4","creation_time":"1413560572851"}}'
  recorded_at: Mon, 01 Dec 2014 16:41:09 GMT
recorded_with: VCR 2.9.3
