---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/list_public_snapshots
    body:
      encoding: UTF-8
      string: '{"title":"Official Ubuntu 14.04"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"snapshots":[{"title":"Official Ubuntu 14.04","body":"Official Ubuntu
        14.04 distribution with minimal stack for running Terminal.com IDE. Install
        anything, you have root access.","display_style":"readme","readme":"","pynb":"","tags":"ubuntu","image":{"files":["1406148593621.png"],"cdnUri":"http://s3-us-west-2.amazonaws.com/com.terminal.imager"},"diskspace":10,"ram":3200,"public":true,"start_count":0,"createdAt":"2014-11-21T17:23:41.100Z","featured":false,"author":"leggo414","id":"f89ae7a59f4823c9b915ed816a46cad8c22548255cdfdaf24f4cede60694744b","templateKey":"johnfernandez2201_7lsCs5W1RXeq6fITfwrpNA"},{"title":"Official
        Ubuntu 14.04","body":"Official Ubuntu 14.04 distribution with minimal stack
        for running Terminal.com IDE. Install anything, you have root access.","display_style":"readme","readme":"","pynb":"","tags":"ubuntu","image":{"files":["1406148593621.png"],"cdnUri":"http://s3-us-west-2.amazonaws.com/com.terminal.imager"},"diskspace":10,"ram":256,"public":true,"start_count":3,"createdAt":"2014-11-20T17:40:10.689Z","featured":f[...]
