---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/list_public_snapshots
    body:
      encoding: UTF-8
      string: '{"page":1,"perPage":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"snapshots":[{"title":"MongoDB","body":"Official Ubuntu 14.04 distribution
        with minimal stack for running Terminal.com IDE. MongoDB is installed and
        running.","display_style":"readme","readme":"","pynb":"","tags":"ubuntu,mongodb,database,mongo","image":{"files":["1417134838081.png"],"cdnUri":"http://s3-us-west-2.amazonaws.com/com.terminal.imager"},"diskspace":10,"ram":800,"public":true,"start_count":1,"createdAt":"2014-11-28T00:32:16.945Z","featured":false,"author":"terminal","id":"c43865e1bb088d2216526addb8f1764744709196ae0e0259a0d7949c9ef43fef","templateKey":"terminal_VVw1K9qLTWaqrOcW0za6FQ"}]}'
  recorded_at: Mon, 01 Dec 2014 11:29:27 GMT
recorded_with: VCR 2.9.3
