---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417456633053::james@101ideas.cz:create:207709::43f3cbe5-c6aa-4997-bc6a-ddd99eb691ae"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"success","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207709,"240.3.43.93","james@101ideas.cz",256,200,10,10,"77f32f22-f391-4005-b9bf-0319431eec43","botanicus248","0","","1417456633053::james@101ideas.cz:create:207709::43f3cbe5-c6aa-4997-bc6a-ddd99eb691ae"]},"state":"success","result":{"cpu":"2
        (max)","ram":256,"diskspace":10,"name":"Ubuntu 14.04 Base Dev Snapshot","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","status":"running","allow_spot":false,"container_key":"77f32f22-f391-4005-b9bf-0319431eec43","subdomain":"botanicus248","container_ip":"240.3.43.93","creation_time":1417456633068}}'
  recorded_at: Mon, 01 Dec 2014 17:57:30 GMT
recorded_with: VCR 2.9.3
