---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/get_snapshot
    body:
      encoding: UTF-8
      string: '{"snapshot_id":"987f8d702dc0a6e8158b48ccd3dec24f819a7ccb2756c396ef1fd7f5b34b7980"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"snapshot":{"title":"Official Ubuntu 14.04","body":"Official Ubuntu
        14.04 distribution with minimal stack for running Terminal.com IDE. Install
        anything, you have root access.","display_style":"readme","readme":"","pynb":"","tags":"ubuntu","image":{"files":["1406148593621.png"],"cdnUri":"http://s3-us-west-2.amazonaws.com/com.terminal.imager"},"diskspace":10,"ram":256,"public":true,"start_count":51780,"createdAt":"2014-07-23T20:27:41.743Z","comments":[{"createdAt":"2014-07-25T17:53:55.303Z","body":"How
        do I get a connection to the outside Internet? Running apt-get update just
        fails to resolve all the domains.","id":"d2e5d3bd-bd6f-4244-b29e-64a50b2f76eb","user":{"username":"nkorth","avatar":"//www.gravatar.com/avatar/d93c52e6f9926bfae9f6a665a1b87d7b.jpg?s=80&d=mm"}},{"createdAt":"2014-07-26T23:36:07.670Z","body":"networking
        now works! sorry about that!","id":"47d160c7-6bd7-4d11-9f66-61e30d374115","user":{"username":"varunc","avatar":"//www.gravatar.com/avatar/e06ae167720f9383b8b34aa0a5fddd8d.jpg?s=80&d=mm"}},{"createdAt":"2014-08-02T18:04:00.464Z","body":"\"28:
        No space left on device\" running apt-get update on a fresh temporary terminal.","id":"62c571c1-c4a0-41b7-[...]
