---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/list_public_snapshots
    body:
      encoding: UTF-8
      string: '{"page":2,"perPage":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"snapshots":[{"title":"Redis Server","body":"Official Ubuntu 14.04
        distribution with minimal stack for running Terminal.com IDE. Redis is installed
        and running on this Terminal.","display_style":"readme","readme":"","pynb":"","tags":"ubuntu,redis,key-value,cache,store","image":{"files":["1417133351622.png"],"cdnUri":"http://s3-us-west-2.amazonaws.com/com.terminal.imager"},"diskspace":10,"ram":800,"public":true,"start_count":13,"createdAt":"2014-11-28T00:06:49.042Z","featured":false,"author":"terminal","id":"f4f4b0850772b60573571769552e7f9831b1e18dbbf243f261307e08d92d83de","templateKey":"terminal_SyQU8s1xTaimnX7z1BgoAQ"}]}'
  recorded_at: Mon, 01 Dec 2014 11:29:28 GMT
recorded_with: VCR 2.9.3
