---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417455639793::james@101ideas.cz:create:207620::366e7ce7-728b-495d-ada2-c29b0ca66abe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"success","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207620,"240.3.43.4","james@101ideas.cz",256,200,10,10,"dff7373e-2a3b-4fa3-a5ff-4aac1d7b2dbc","botanicus243","0","","1417455639793::james@101ideas.cz:create:207620::366e7ce7-728b-495d-ada2-c29b0ca66abe"]},"state":"success","result":{"cpu":"2
        (max)","ram":256,"diskspace":10,"name":"Ubuntu 14.04 Base Dev Snapshot","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","status":"running","allow_spot":false,"container_key":"dff7373e-2a3b-4fa3-a5ff-4aac1d7b2dbc","subdomain":"botanicus243","container_ip":"240.3.43.4","creation_time":1417455639820}}'
  recorded_at: Mon, 01 Dec 2014 17:40:56 GMT
recorded_with: VCR 2.9.3
