---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417456470222::james@101ideas.cz:create:207692::7aafc0eb-42ad-45a8-b384-502fcba76eac"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"success","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207692,"240.3.43.76","james@101ideas.cz",256,200,10,10,"0fa7ed6b-7781-4223-944d-d66d5f779dd1","botanicus246","0","","1417456470222::james@101ideas.cz:create:207692::7aafc0eb-42ad-45a8-b384-502fcba76eac"]},"state":"success","result":{"cpu":"2
        (max)","ram":256,"diskspace":10,"name":"QA: User Listing #356","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","status":"running","allow_spot":false,"container_key":"0fa7ed6b-7781-4223-944d-d66d5f779dd1","subdomain":"botanicus246","container_ip":"240.3.43.76","creation_time":1417456470234}}'
  recorded_at: Mon, 01 Dec 2014 17:54:50 GMT
recorded_with: VCR 2.9.3
