---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417456495137::james@101ideas.cz:create:207693::4e765da6-2cc0-4054-a0dc-00b47a004d79"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"created","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207693,"240.3.43.77","james@101ideas.cz",256,200,10,10,"a2c33f85-aa96-47a4-a7b9-d44f32f165d8","botanicus247","0","","1417456495137::james@101ideas.cz:create:207693::4e765da6-2cc0-4054-a0dc-00b47a004d79"]},"state":"consuming
        template from dibs"}'
  recorded_at: Mon, 01 Dec 2014 17:54:56 GMT
recorded_with: VCR 2.9.3
