---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417456066264::james@101ideas.cz:create:207671::962d02dd-237c-4844-8735-ee8c5aea1a4c"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"success","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207671,"240.3.43.55","james@101ideas.cz",3200,200,1000,10,"618d9a0a-1bba-48c8-99bd-2e842b4a9d98","botanicus245","0","","1417456066264::james@101ideas.cz:create:207671::962d02dd-237c-4844-8735-ee8c5aea1a4c"]},"state":"success","result":{"cpu":200,"ram":3200,"diskspace":10,"name":"Ubuntu
        14.04 Base Dev Snapshot","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","status":"running","allow_spot":false,"container_key":"618d9a0a-1bba-48c8-99bd-2e842b4a9d98","subdomain":"botanicus245","container_ip":"240.3.43.55","creation_time":1417456066306}}'
  recorded_at: Mon, 01 Dec 2014 17:48:04 GMT
recorded_with: VCR 2.9.3
