---
http_interactions:
- request:
    method: post
    uri: http://api.terminal.com/v0.1/request_progress
    body:
      encoding: UTF-8
      string: '{"request_id":"1417457019760::james@101ideas.cz:create:207741::436509c5-747b-4f8c-8192-c59b97895dc8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"operation":"create","status":"success","rpc_param":{"prog":"/root/cloudlabs/compute/hardware_node_manager/vzscripts/clone_template.sh","args":["shared/james_ahHMhe7LQtOwgidrBoAMkw",207741,"240.3.43.125","james@101ideas.cz",256,200,10,10,"a8b46bdd-183d-4530-95f6-43fd11ce2d0b","botanicus252","0","","1417457019760::james@101ideas.cz:create:207741::436509c5-747b-4f8c-8192-c59b97895dc8"]},"state":"success","result":{"cpu":"2
        (max)","ram":256,"diskspace":10,"name":"Ubuntu 14.04 Base Dev Snapshot","snapshot_id":"57eff3574ac8d438224dc3aa1c6431a0dbac849a0c254e89be2e758d8113c234","temporary":true,"status":"running","allow_spot":false,"container_key":"a8b46bdd-183d-4530-95f6-43fd11ce2d0b","subdomain":"botanicus252","container_ip":"240.3.43.125","creation_time":1417457019774}}'
  recorded_at: Mon, 01 Dec 2014 18:03:57 GMT
recorded_with: VCR 2.9.3
